<div class="cui__utils__heading">
  <strong>Tax Groups</strong>
  <div class="card">
    <div class="card-body">
      <div class="card-header card-header-flex">
        <div class="d-flex flex-column justify-content-center mr-auto">
          <div>
            <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="term" (input)="filtersearch()">
          </div>
        </div>

        <div class="d-flex flex-column justify-content-center">
          <a class="btn btn-success" href="javascript: void(0);" (click)="addtaxgrp(addtaxgrpmodel)">
            + Add Tax Group
          </a>
        </div>

      </div>

      <br>
      <nz-table #basicTable class="kit__utils__table mb-4" [nzData]="tabledata">
        <thead>
          <tr>
            <th><strong>Tax Group</strong></th>
            <th><strong>Tax 1</strong></th>
            <th><strong>Tax 2</strong></th>
            <th><strong>Tax 3</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let TaxGrpList of basicTable.data">
            <td>
              <a (click)="viewtaxgrp(modelviewtax)">
                {{TaxGrpList.description}}
              </a>
            </td>
            <td>
              {{TaxGrpList.tax1}}
            </td>
            <td>
              {{TaxGrpList.tax2}}
            </td>
            <td>
              {{TaxGrpList.tax3}}
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>


<!-- Model Add Tax GRP -->
<ng-template #addtaxgrpmodel let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Add Taxgroup</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form id="form-validation" name="form-validation" method="POST">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Inclusive Tax</label>
      </div>
      <br>
      <div class="form-group">
        <label class="form-label" for="TaxGrpName">Tax Group</label>
        <input id="TaxGrpName" class="form-control" type="text" />
      </div>
      <div class="form-group">
        <label class="form-label" for="Tax1">Tax 1</label>
        <input id="Tax1" class="form-control" type="text" />
      </div>
      <div class="form-group">
        <label class="form-label" for="Tax2">Tax 2</label>
        <input id="Tax2" class="form-control" type="text" />
      </div>
      <div class="form-group">
        <label class="form-label" for="Tax3">Tax 3</label>
        <input id="Tax3" class="form-control" type="text" />
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-danger mr-2 px-5">Cancel</button>
        <button type="submit" class="btn btn-success mr-2 px-5">Save</button>
      </div>
    </form>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Save click')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Do Something</button>
  </div> -->
</ng-template>

<!-- Update Tax GRP Model -->
<ng-template #modelviewtax let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Update Tax Group</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form id="form-validation" name="form-validation" method="POST">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Inclusive Tax</label>
      </div>
      <br>
      <div class="form-group">
        <label class="form-label" for="TaxGrpName">Tax Group</label>
        <input id="TaxGrpName" class="form-control" type="text" />
      </div>
      <div class="form-group">
        <label class="form-label" for="Tax1">Tax 1</label>
        <input id="Tax1" class="form-control" type="text" />
      </div>
      <div class="form-group">
        <label class="form-label" for="Tax2">Tax 2</label>
        <input id="Tax2" class="form-control" type="text" />
      </div>
      <div class="form-group">
        <label class="form-label" for="Tax3">Tax 3</label>
        <input id="Tax3" class="form-control" type="text" />
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-danger mr-2 px-5">Cancel</button>
        <button type="submit" class="btn btn-success mr-2 px-5">Update</button>
      </div>
    </form>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Save click')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Do Something</button>
  </div> -->
</ng-template>
